.implement {
  width: 750px;
  margin: 0 auto;
}

.basicInfo {
  display: flex;
}

.right {
  margin-left: 200px;
}

.skills {
  padding-left: 16px;
}

.education {
  position: relative;
}

.time {
  position: absolute;
  right: 0;
  top: 0;
}
