.resume {
  width: 850px;
  margin: 0 auto;
  padding: 20px 0;
}

.introduce {
  display: flex;
}

.right {
  margin-left: 100px;
}

.item {
  font-weight: bold;
}

.content {
  margin-left: 70px;
}

.repository {
  margin-left: 80px;
  list-style: none;
}
